# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

# Currently we haven't specified any version numbers on these requirements; we'll do that when
# there is some pressing reason to do so.

#### ESSENTIAL LIBRARIES FOR MAIN FUNCTIONALITY ####

# Neural net and related libraries.
keras==1.1.0
h5py
sklearn
theano

## Tensorflow Requirements ##
# Tensorflow is required to run this code but depends on specific configurations. Install from:
# https://github.com/tensorflow/tensorflow/blob/master/tensorflow/g3doc/get_started/os_setup.md#pip-installation
# If the GPU version is installed, you will also need Nvidia's CUDA toolkit and cuDNN:
# https://developer.nvidia.com/cuda-downloads
# https://developer.nvidia.com/cudnn

# These are for running this as an Aristo solver using gRPC.
grpcio
grpcio-tools
pyhocon

#### NICE-TO-HAVE LIBRARIES FOR MAIN CODE ####

# Adds an @overrides decorator for better documentation and error checking when using subclasses.
overrides

# Used by some old code.  We moved away from it because it's too slow, but some old code still
# imports this.
nltk

# Used by span prediction models.
numpy
matplotlib

#### TESTING-RELATED PACKAGES ####

# Checks style, syntax, and other useful errors
pylint

# We'll use pytest to run our tests; this isn't really necessary to run the code, but it is to run
# the tests.  With this here, you can run the tests with `py.test` from the base directory.
pytest

# Makes it so that pytest can handle the code structure we use, with src/main/python, and src/test.
pytest-pythonpath

# Allows generation of coverage reports with pytest.
pytest-cov

# pyfakefs: Provides a fake filesystem for testing.  There was a bug in version 2.8 that made it
# fail when using os.makedirs() with the exist_ok parameter.  This commit fixes that bug.  When a
# version with the fix gets pushed to pypi, we can change this line back to just `pyfakefs`.
git+git://github.com/jmcgeheeiv/pyfakefs.git@90e33844bf3fc3e51550ee8fc839ccd950f53a66
